<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
  <!-- 共通レイアウトヘッダー -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-1">
    <a class="navbar-brand" href="/home">Qper</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="Navber">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <small>レビュ―</small>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/review/getReviewList">一覧</a>
            <a class="dropdown-item" href="/review/getReviewRegist">作成</a>
            <a class="dropdown-item" href="/review/getReviewDelete">削除</a>
          </div></li>
        <li class="nav-item"></li>
      </ul>
    </div>
  </nav>
  <div class="form-group float-end">
    <br>
    <form method="post" th:action="@{/logout}">
      <button class="btn btn-link btn-sm" type="submit">▶︎ログアウト</button>
    </form>
  </div>
  <br>
</header>
</html>