<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Bootstrap css -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
  crossorigin="anonymous">
<meta charset="UTF-8">
<meta th:replace="common/script :: script">
<link rel="stylesheet" th:href="@{/css/reviewList.css}">
<title>Qper review list</title>
</head>
<body>
  <!-- 共通レイアウトヘッダー -->
  <div th:replace="common/layout::header"></div>

  <div class="container">
    <div class="card card-main mt-5">
      <div class="card-header">
        <strong class="form-text">レビュ―一覧</strong>
      </div>
      <div class="card-body">
        <form th:action="@{/review/getReviewList}" th:object="${selectReview}" method="GET">
          <div th:each="item:${selectReview.entities}">
            <div class="d-flex text-dark pt-2">
              <div class="pb-3 mb-2 small border-bottom w-100">
                <strong class="d-block mb-2" th:text="${item.title}"></strong>
                <div th:if="${item.privateFlg eq '1'}">
                  <span th:text="${item.email}"></span>
                </div>
                <span class="d-block pt-1" th:text="${item.content}"></span>
                <div class="d-inline-block">
                  <span th:text="${#dates.format(item.createdAt, 'yyyy/MM/dd HH:mm')}"></span>
                  <span th:text="${item.categoryEntity.categoryName}"></span>
                  <a class="edit fas fa-edit px-4" th:if="${item.email eq authenticatedUser}" th:href="@{/review/getReviewEdit/{postId}(postId=${item.postId})}"></a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- ページャー -->
    <div th:replace="common/pagination :: pagination(@{/review/getReviewPageView})"></div>
  </div>
</body>
</html>