<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.qper.mapper.ReviewMapper">

 <!-- レビュ―総件数取得 -->
  <select id="countReview" parameterType="com.example.qper.entity.ReviewEntity"
    resultType="int">
    SELECT
      COUNT(*)
    FROM
      review rev
    WHERE
      rev.del_flg = '0'
    ORDER BY
      rev.updated_at
  </select>

  <!-- レビュ―一覧取得 -->
  <select id="selectReview" parameterType="com.example.qper.entity.ReviewEntity"
    resultMap="ReviewMap">
    SELECT
      rev.post_id
     ,rev.title
     ,rev.content
     ,rev.email
     ,rev.private_flg
     ,rev.created_at
     ,cat.category_name
    FROM
      review rev
    INNER JOIN
      category cat
      ON rev.category_id = cat.category_id
    WHERE
      rev.del_flg = '0'
    ORDER BY
      rev.updated_at
    LIMIT #{lowerLimit}, #{upperLimit}
  </select>
  <resultMap id="ReviewMap" type="com.example.qper.entity.ReviewEntity">
    <id property="postId" column="post_id"/>
    <result property="title" column="title" />
    <result property="content" column="content" />
    <result property="privateFlg" column="private_flg" />
    <result property="email" column="email" />
    <result property="createdAt" column="created_at" />
    <association property="categoryEntity" resultMap="categoryMap"/>
  </resultMap>

  <resultMap id="categoryMap" type="com.example.qper.entity.CategoryEntity">
    <id property="categoryId" column="category_id"/>
    <result property="categoryName" column="category_name"/>
  </resultMap>

  <!--  新規レビュ―登録 -->
  <insert id="insertReview"
    parameterType="com.example.qper.entity.ReviewEntity">
  INSERT INTO
    review(
    title
   ,content
   ,email
   ,private_flg
   ,category_id
    )
  VALUES(
    #{title,jdbcType=VARCHAR}
   ,#{content,jdbcType=VARCHAR}
   ,#{email,jdbcType=VARCHAR}
   ,#{privateFlg,jdbcType=VARCHAR}
   ,#{categoryId,jdbcType=VARCHAR}
  )
  </insert>

  <!-- レビュ―をpostId毎に取得する -->
  <select id="findReviewByPostId" parameterType="com.example.qper.entity.ReviewEntity"
    resultType="com.example.qper.entity.ReviewEntity">
  SELECT
    rev.title
   ,rev.content
   ,rev.private_flg
  FROM
    review rev
  WHERE
    post_id = #{postId}

  </select>

  <!-- レビュ―更新 -->
  <update id="updateReview" parameterType="com.example.qper.form.ReviewForm">
  UPDATE
    review rev
  SET
    rev.title = #{title,jdbcType=VARCHAR}
   ,rev.content = #{content,jdbcType=VARCHAR}
   ,rev.private_flg = #{privateFlg,jdbcType=VARCHAR}
  WHERE
    rev.post_id = #{postId}

  </update>

</mapper>